{% extends "buffalo/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block branding %}
    <h1 id="site-name">{% trans "Buffalo" %}</h1>
{% endblock %}
{% load session_tasks %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>

&rsaquo; <a href="/buffalo/buffalosession">{% trans 'Sessions' %}</a>

</div>
{% endblock breadcrumbs %}


{% block content %}
    <h1>Session Details</h1>
    {% block object-tools %}
        <ul class="object-tools">
            {% block object-tools-items %}
                <li>
                    <a href="/buffalo/buffalosession/{{session.id}}/change/" class="addlink">
                    Add Channel Recording Info/ Add Session task
                    </a>
                </li>
                <li>
                    <a href="/buffalo/buffaloelectrodelogsubject/{{session.subject.id}}/change/" class="addlink">
                    Add electrode logs
                    </a>
                </li>
            {% endblock %}
        </ul>
    {% endblock %}
    <div class="col-sm-10 offset-md-1 subject-info">
        <div class="col-sm-3">
            <label><strong>Session </strong>{{session.name}}</label><br>
            <label><strong>Session start date </strong>{{session.start_time}}</label><br>
            <label><strong>Subject </strong>{{session.subject}}</label><br>
            <label><strong>Food </strong>{{session_foodlog}}</label><br>
            <label>
                <strong>Users </strong>
                {% for user in session_users %}
                    {{user.username}}, 
                {% endfor %}
            </label><br>
            <label><strong>Narrative</strong>{{session.narrative}}</label><br>
        </div>
        <br><br>
    </div>
    <div class="col-lg-10  offset-md-1">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="d-flex">
                        <th class="session-task-fields col-2" scope="col">Weight Log</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <td class="col-sm-2">{{session_weightlog}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <div class="col-lg-10  offset-md-1">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="d-flex">
                        <th class="session-task-fields col-2" scope="col">Food Log</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="d-flex">
                        <td class="col-sm-2">{{session_foodlog.get_food_detail}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    
    {% if session_dataset_types %}
        <div class="col-lg-10  offset-md-1">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="session-task-fields col-2" scope="col">Session Dataset types</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session_dataset_type in session_dataset_types %}
                            <tr class="d-flex">
                                <td class="col-sm-2">{{session_dataset_type.name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
    {% endif %}
    {% if session_tasks %}
        <div class="col-lg-10  offset-md-1">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="session-task-fields col-2" scope="col">Session Task</th>
                            <th class="session-task-fields col-1" scope="col">Task Version</th>
                            <th class="session-task-fields col-1" scope="col">Task Sequence</th>
                            <th class="session-task-fields col-3" scope="col">Task Comments</th>
                            <th class="session-task-fields col-2" scope="col">Task Datetime (run)</th>
                            <th class="session-task-fields col-3" scope="col">File Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session_task in session_tasks %}
                            <tr class="d-flex">
                                <td class="col-sm-2">{{session_task.task__name }}</td>
                                <td class="col-sm-1">{{session_task.task__version}}</td>
                                <td class="col-sm-1">{{session_task.task_sequence}}</td>
                                <td class="col-sm-3">{{session_task.general_comments}}</td>
                                <td class="col-sm-2">{{session_task.date_time|default:""}}</td>
                                {% for s in session_task_dataset_type.items %}
                                    {% ifequal session_task.task__id s.0 %}
                                        <td class="col-sm-3">
                                        {% for dt in s.1 %}
                                            {{dt|default:""}}<br>
                                        {% endfor %}
                                        </td>
                                    {% endifequal %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="col-lg-10  offset-md-1">
            <div class="badge badge-secondary">
                    No Session Tasks
            </div>
        </div>
    {% endif %}
    {% if channels_recording %}
        <br><br>
        <h1>channels Recording</h1>
        <div class="col-lg-10  offset-md-1">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="session-task-fields col-1" scope="col">Channel Number</th>
                            <th class="session-task-fields col-1" scope="col">Ripples</th>
                            <th class="session-task-fields col-1" scope="col">Alive</th>
                            <th class="session-task-fields col-3" scope="col">Number of cells</th>
                            <th class="session-task-fields col-3" scope="col">Notes</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for channel_recording in channels_recording %}
                            {% if channel_recording %}
                                <tr class="d-flex">
                                    <td class="col-sm-1">{{channel_recording.electrode.channel_number}}</td>
                                    <td class="col-sm-1">{{channel_recording.ripples}}</td>
                                    <td class="col-sm-1">{{channel_recording.alive}}</td>
                                    <td class="col-sm-3">{{channel_recording.number_of_cells}}</td>
                                    <td class="col-sm-3">{{channel_recording.notes}}</td>
                                </tr>
                                
                                
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
