{% extends "buffalo/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block branding %}
    <h1 id="site-name">{% trans "Buffalo" %}</h1>
{% endblock %}
{% load session_tasks %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>

&rsaquo; <a href="/admin/actions/session">{% trans 'Sessions' %}</a>

</div>
{% endblock breadcrumbs %}


{% block content %}
    <h1>Session Details</h1>
    {% block object-tools %}
        <ul class="object-tools">
            {% block object-tools-items %}
                <li>
                <a href="/buffalo/sessiontask/add/" class="addlink">
                    Add session task
                    </a>
                </li>
            {% endblock %}
        </ul>
    {% endblock %}
    <div class="col-sm-10 offset-md-1 subject-info">
        <div class="col-sm-3">
            <label><strong>Session </strong>{{session.name}}</label><br>
            <label><strong>Session start date </strong>{{session.start_time}}</label><br>
            <label><strong>Subject </strong>{{session.subject}}</label><br>
            <label>
                <strong>Users </strong>
                {% with users=session.users|get_users %}
                    {{users}}
                {% endwith %}
            </label><br>
            <label><strong>Narrative</strong>{{session.narrative}}</label><br>
        </div>
        <br><br>
    </div>
    {% if session_tasks %}
        <div class="col-lg-10  offset-md-1">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="session-task-fields col-2" scope="col">Session Task</th>
                            <th class="session-task-fields col-1" scope="col">Task Version</th>
                            <th class="session-task-fields col-3" scope="col">Task Comments</th>
                            <th class="session-task-fields col-2" scope="col">Task Datetime (run)</th>
                            <th class="session-task-fields col-3" scope="col">File Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session_task in session_tasks %}
                            <tr class="d-flex">
                                <td class="col-sm-2">{{session_task.task__name }}</td>
                                <td class="col-sm-1">{{session_task.task__version}}</td>
                                <td class="col-sm-3">{{session_task.general_comments}}</td>
                                <td class="col-sm-2">{{session_task.date_time|default:""}}</td>
                                <td class="col-sm-3">{{session_task.dataset_type|default:""}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if channels_recording %}
            <br><br>
            <h1>channels Recording</h1>
            <div class="col-lg-10  offset-md-1">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="d-flex">
                                <th class="session-task-fields col-2" scope="col">Session Task</th>
                                <th class="session-task-fields col-1" scope="col">Alive</th>
                                <th class="session-task-fields col-3" scope="col">Number of cells</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% for channel_recording in channels_recording %}
                                {% if channel_recording %}
                                    <tr class="d-flex">
                                        <td class="col-sm-2">{{channel_recording.session_task.task.name }}</td>
                                        <td class="col-sm-1">{{channel_recording.alive}}</td>
                                        <td class="col-sm-3">{{channel_recording.number_of_cells}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="col-lg-10  offset-md-1">
            <div class="badge badge-secondary">
                    No Session Tasks
            </div>
        </div>
    {% endif %}
{% endblock %}
