{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_list %}

{% block branding %}
    <h1 id="site-name">{% trans "Buffalo" %}</h1>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>

&rsaquo; <a href="/buffalo/buffalosubject/">Subjects</a>

</div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 offset-md-4">
            <h5>Electrodelogs</h5>
        </div>
        <div class="col-lg-4 offset-md-4 card card-body">
                <form action="" method="post" >
                    {% csrf_token %}
                    {{ form }}
                    <input  class="btn btn-primary btn-sm submit-button"  type="submit" value="Submit">
                </form>
        </div>
        {% if graph %}
        <div class="col-lg-4 offset-md-4 card card-body">
            {{ graph|safe }}
        </div>
        {% endif %}
    </div>
{% endblock %}
