{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_list %}

{% block branding %}
    <h1 id="site-name">{% trans "Buffalo" %}</h1>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>

&rsaquo; <a href="/admin/subjects/subject/">Subjects</a>

</div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 offset-md-4">
            <h5>Load electrodes</h5>
        </div>
        <div class="col-lg-4 offset-md-4 card card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input  class="btn btn-primary btn-sm submit-button"  type="submit" value="Submit">
                    <!--a  class="btn btn-light btn-sm submit-button" href="{% url 'admin:index' %}">Cancel</a>-->
                </form>
                
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#id_category').change(function(){
                const task_category_id = $("#id_category option:selected").val()
                $.ajax({
                    type: 'GET',
                    url: "{% url 'buffalo-get-task-category-json' %}",
                    data: {"task_category_id": task_category_id  },
                    success: function (response) {
                        $("#id_json").val("")
                        $("#id_json").val(response.category_json)
                    },
                    error: function (response) {
                        console.log(response)
                    }
                })
            })
        })
    </script>
{% endblock %}
