<div class="modal fade" id="session-details" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><strong>Session Details</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row session-data">
                    <div class="col-sm-2">
                        <h6><strong>Session</strong></h6>
                        <h6><strong>Session start date</strong></h6>
                        <h6><strong>Subject</strong></h6>
                        <h6><strong>Users</strong></h6>
                        <h6><strong>Narrative</strong></h6>
                    </div>
                    <div class="col-sm-3">
                        <h6 class="session-name">Nombre session</h6>
                        <h6 class="session-start">Nombre session</h6>
                        <h6 class="session-subject">Nombre session</h6>
                        <h6 class="session-users">Nombre session</h6>
                        <h6 class="session-narrative">Nombre session</h6>
                    </div>
                   
                </div>
                <div class="row tasks-table">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="d-flex"></tr>
                                
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row invisible no-tasks">
                    <div class="badge badge-secondary">
                            No Session Tasks
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    