{% extends "buffalo/base.html" %}
{% load crispy_forms_tags %}


{% block main_container %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary btn-sm add-subject" data-toggle="modal" data-target="#add">Add Subject</button>
                </div>
            </div>
            <div class="row">
              
                <h5>Subjects</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Description</th>
                        <th scope="col">Responsible</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Death Date</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in objects %}
                            <tr class="">
                            <td>{{object.nickname}}</td>
                            <td>{{object.sex}}</td>
                            <td>{{object.description}}</td>
                            <td>{{object.responsible_user}}</td>
                            <td>{{object.birth_date|default:""}}</td>
                            <td>{{object.death_date|default:""}}</td>
                            <td><a class="btn btn-warning btn-sm edit-button" href="{% url 'buffalo-edit-subject' object.id %}"> Edit </a>
                            <!--<a class="btn btn-primary btn-sm" href="{% url 'buffalo-daily-observation' object.id %}"> Daily Observation </a>-->
                            <a class="btn btn-info btn-sm" href="{% url 'buffalo-subject-observation' object.id %}"> Details </a>
                            <button 
                                class="btn btn-primary btn-sm weight" 
                                value="{{object.pk}}"
                                data-toggle="modal"
                                data-target="#add-session-weight">
                                Add Weight
                            </button>
                            <button 
                                class="btn btn-primary btn-sm food" 
                                value="{{object.pk}}"
                                data-toggle="modal"
                                data-target="#add-session-food">
                                Add Food
                            </button>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table> 
               
            </div>
        </div>
    <div>
    {% include "buffalo/subject_weight.html" %}
    {% include "buffalo/subject_food.html" %}
    
    <script>
        $(document).ready(function () {
            $(".subject").addClass('active')
        })    
        add_settings = () => {
            $("#add .modal-title").text("Add Subject")
            $("#div_id_lab").hide()
        }
        $('.add-subject').on('click', function (e) {
            add_settings()
        })
        $(".weight, .food").on('click', function (e) {
            const subject_id = $(this).val()
            $('#id_subject, #add-session-food #id_subject').val(subject_id)
            $('#div_id_subject, #add-session-food #id_subject').hide()
        })
            
    </script>
{% endblock %}
