{% extends "buffalo/base.html" %}
{% load session_tasks %}

{% block main_container %}
    <div class="col-sm-10 offset-md-1 subject-info">
        <div class="row">
            <div class="col-sm-2">
                <h6><strong>Subject</strong> {{subject.nickname}}</h6>
            </div>
            <div class="col-sm-2">
                <h6><strong>Responsible </strong></h6>
            </div>
            <div class="col-sm-2">
                <h6><strong>Birth Date</strong></h6>
            </div>
            <div class="col-sm-2">
                <h6><strong>Sex</strong></h6>
            </div>
            <div class="col-sm-2">
                <h6><strong>Death Date</strong></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h6><strong>General Comments</strong> {{subject.general_comments}}</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8  offset-md-2">
            <h5>Weight</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Date Time</th>
                    <th scope="col">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for w in weights %}
                        <tr class="">
                            <td>{{w.date_time}}</td>
                            <td>{{w.weight}}Kg</td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8  offset-md-2">
            <h5>Food</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Date Time</th>
                    <th scope="col">Food</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in food %}
                        <tr class="">
                            <td>{{f.date_time}}</td>
                            <td>{{f.amount}}Ml</td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10  offset-md-1">
            <h5>Daily Observations</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Run</th>
                    <th scope="col">Tasks</th>
                    <th scope="col">Food</th>
                    <th scope="col">General Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observation in observations %}
                        <tr class="">
                            <td>{{observation.date_time}}</td>
                            <td>{{observation.run}}</td>
                            <td>{{observation.food}}</td>
                            <td>{{observation.general_comments}}</td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
        <div class="col-md-10 offset-md-1">
            <h5>Sessions</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Session</th>
                    <th scope="col">Session Tasks</th>
                    <th scope="col">Users</th>
                    <th scope="col">Narrative</th>
                    <th scope="col">Session Start Time</th>
                    <th scope="col">Session End time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in sessions %}
                        <tr class="">
                            <td>{{ session.name }}</td>
                            {% with tasks=session.pk|get_tasks %}
                            <td>
                                {% for t in tasks %}  
                                    {{t.task.name}}
                                {% endfor %}
                            </td>
                        {% endwith %}
                        {% with users=session.users|get_users %}
                            <td>{{users}}</td>
                        {% endwith %}
                        <td>{{session.narrative}}</td>
                        <td>{{session.start_time|default:""}}</td>
                        <td>{{session.end_time|default:""}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
